In [1]:
import pandas as pd


df = pd.read_csv('breast_cancer.csv')
df

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
678,3,1,1,1,3,2,1,1,1,2
679,2,1,1,1,2,1,1,1,1,2
680,5,10,10,3,7,3,8,10,2,4
681,4,8,6,4,3,4,10,6,1,4
682,4,8,8,5,4,5,10,4,1,4

In [6]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.3)
y_train = train['Class']
y_test = test['Class']
x_train = train.drop(['Class'], axis=1)
x_test = test.drop(['Class'], axis=1)

In [7]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
model = logisticRegr.fit(x_train, y_train)
predictions = logisticRegr.predict(x_test)
print(predictions)

[4 4 2 2 2 2 4 2 2 2 2 2 2 4 4 2 4 4 4 2 4 2 2 2 2 2 2 4 2 2 4 2 4 2 4 2 2
 2 2 2 4 4 2 2 2 4 2 2 2 2 2 4 2 4 4 4 4 4 2 2 4 2 2 2 2 4 2 4 4 2 2 4 2 2
 2 4 2 2 2 2 4 2 2 2 4 2 4 2 4 2 2 2 2 2 2 2 2 2 2 2 2 2 4 2 4 2 4 2 4 4 4
 2 2 2 2 4 2 2 2 2 2 4 4 2 2 2 4 4 2 2 2 4 2 2 2 2 4 2 4 2 4 4 4 4 2 4 4 4
 2 4 2 4 4 2 2 2 2 2 2 2 2 2 4 4 4 2 2 4 4 4 2 2 2 2 4 2 2 2 2 2 2 2 2 2 4
 2 4 2 2 2 2 4 4 2 4 4 2 2 2 2 4 2 2 2 4]

In [4]:
x_test['Hasil Prediksi'] = predictions
x_test['Class'] = y_test
x_test

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Hasil Prediksi,Class
348,3,2,2,1,4,3,2,1,1,2,2
53,10,6,6,3,4,5,3,6,1,4,4
492,1,1,1,1,2,4,1,1,1,2,2
156,4,1,1,1,2,1,3,2,1,2,2
380,1,2,3,1,2,1,2,1,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...
124,7,5,3,7,4,10,7,5,5,4,4
364,3,1,1,4,3,1,2,2,1,2,2
432,5,1,1,1,2,1,1,1,1,2,2
681,4,8,6,4,3,4,10,6,1,4,4
554,10,10,8,10,6,5,10,3,1,4,4

In [8]:
score = logisticRegr.score(x_test, y_test)
score

0.9365853658536586

In [9]:
x = logisticRegr.predict([[10, 6, 7, 8, 3, 1, 8, 9, 1]])
if x[0] == 4:
    print('Kanker')
else:
    print('Sehat')

Kanker

C:\Users\lawencon\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [10]:
logisticRegr.coef_

array([[ 0.36176207, -0.09677383,  0.67741813,  0.38581238,  0.10441937,
         0.21621871,  0.49302221,  0.24221031,  0.42851107]])

In [12]:
from sklearn import metrics
print("Accuracy: ",metrics.accuracy_score(y_test, predictions))
print("Precision : ",metrics.precision_score(y_test, predictions, average='macro'))
print("Recall : ",metrics.recall_score(y_test, predictions, average='macro'))
print("F1-Score : ",metrics.f1_score(y_test, predictions, average='macro'))
print(metrics.classification_report(y_test, predictions))
print(metrics.confusion_matrix(y_test, predictions))
pd.crosstab(y_test, predictions, rownames=['True'], colnames=['Predicted'], margins=True)

Accuracy:  0.9365853658536586
Precision :  0.9448707168383434
Recall :  0.92325
F1-Score :  0.9318571172875809
              precision    recall  f1-score   support

           2       0.92      0.98      0.95       125
           4       0.97      0.86      0.91        80

    accuracy                           0.94       205
   macro avg       0.94      0.92      0.93       205
weighted avg       0.94      0.94      0.94       205

[[123   2]
 [ 11  69]]

Predicted    2   4  All
True
2          123   2  125
4           11  69   80
All        134  71  205

ACCURACY

In [3]:
(123+69)/205

0.9365853658536586